:root {
  font-family: Arial, sans-serif;
  color: #f4f1de;
  background: #09161d;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #10212b;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #10212b;
}

canvas {
  display: block;
}
